<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>071481B2-CEDA-4B26-B687-2B75B4B671F9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>taobao</string>
			<key>text</key>
			<string>淘宝搜索{query}</string>
			<key>url</key>
			<string>https://s.taobao.com/search?oe=utf-8&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>45F2B8B2-A42E-439C-819C-DA4A1BCE51C6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bili</string>
			<key>text</key>
			<string>打开bilibili</string>
			<key>url</key>
			<string>https://www.bilibili.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>6EBA692C-C8C6-4F6D-BC20-EEDFDDA50C46</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>github</string>
			<key>text</key>
			<string>open github</string>
			<key>url</key>
			<string>https://github.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9A113112-1C99-443F-BD04-D6781E542E15</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>baidu</string>
			<key>text</key>
			<string>百度搜索</string>
			<key>url</key>
			<string>https://www.baidu.com/s?wd={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A153782E-54B3-47CD-89C0-AE73435D97FC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>so</string>
			<key>text</key>
			<string>search stackoverflow for {query}</string>
			<key>url</key>
			<string>https://www.stackoverflow.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B640D30A-A027-43F7-897C-0C89D32330CD</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>github</string>
			<key>text</key>
			<string>search github for '{query}'</string>
			<key>url</key>
			<string>https://github.com/search?utf8=%E2%9C%93&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>BD88D287-FE05-4D83-87F0-BFACD88075BF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>weixin</string>
			<key>text</key>
			<string>微信文章搜索{query}</string>
			<key>url</key>
			<string>http://weixin.sogou.com/weixin?type=2&amp;query={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>CAFB773F-CB56-47A8-A649-2B43B146A921</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bili</string>
			<key>text</key>
			<string>bilibili搜索</string>
			<key>url</key>
			<string>https://search.bilibili.com/all?keyword={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>DE6B3123-E79F-463A-A70B-23B888F423C0</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>douban</string>
			<key>text</key>
			<string>豆瓣全站搜索</string>
			<key>url</key>
			<string>https://www.douban.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
